.grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  height: 100%;

  // width: 500px;
  // background: yellow;
  .array {
    display: flex;
    height: 100%;
    flex-grow: 1;
    justify-content: center;
  }

  // height: 500px;
  // flex-wrap: ;;;

}
